@import url('https://fonts.googleapis.com/css2?family=Rouge+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delius&family=Rouge+Script&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
}

body{
  font-family: "Rouge Script", cursive;
  font-size: xx-large;
  font-weight: 400;
  font-style: normal;
}

header{
    background-color: rgb(255, 145, 163);
    padding: 1em;
    display: grid;
}

ul{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  list-style: none;
  padding: 0;
}

li{
    text-align: center;
    background-color: rgb(255, 81, 81);
    border-radius: 10px;
    padding: 0.1em;
}

li:nth-of-type(1){
    grid-column: 1/2;
    grid-row: 1/2;
}

li:nth-of-type(2){
    grid-column: 2/3;
    grid-row: 1/2;
}

li:nth-of-type(3){
    grid-column: 3/4;
    grid-row: 1/2;
}

li:nth-of-type(4){
    grid-column: 4/5;
    grid-row: 1/2;
}

main{
    background-color: rgb(255, 209, 217);
    margin: 0 auto;
    padding: 2em 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

main img{
    max-width: 100%;
    align-self: center;
    grid-column: 2/3;
    grid-row: 1/2;
    margin: 1em 0;
    border-radius: 20px;
    box-shadow: 3px 3px 3px #726767;
}

main h1{
    grid-column: 2/3;
    grid-row: 1/2;
    z-index: 1;
    color: white;
    text-align: center;
    padding: 0.5em;
}

main section{
    text-align: center;
    background-color: rgb(82, 27, 73);
    margin: 1em;
    padding: 0.25em;
    border-radius: 10px;
    box-shadow: 3px 3px 3px #726767;
}

main section:nth-of-type(1){
    grid-row: 2/3;
    grid-column: 1/2;
    text-align: center;
}

main section:nth-of-type(2){
    grid-row: 2/3;
    grid-column: 2/3;
    text-align: center;
}

main section:nth-of-type(3){
    grid-row: 2/3;
    grid-column: 3/4;
    text-align: center;
}

main section h2{
    color: rgb(51, 33, 70);
    background-color: rgb(125, 105, 141);
    border-radius: 10px;
}

main section p{
    margin: 0.5em;
    color: rgb(170, 135, 206);
    font-family: Delius;
    font-size: x-large;
}

footer{
    background-color: rgb(255, 145, 163);
    border: 3px solid rgb(255, 81, 81);
    padding: 1em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}