*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #ffecd7;
    font-family: Helvetica;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

.card{
    max-width: 300px;
    text-align: center;
    background-color: #008DB1;
    border: 4px solid #004e63;
    border-radius: 25px;
    margin: 40px
}

.card h1{
    color: #fffffe;
    text-align: center;
    margin: 0.5em 0;
    font-size: 2em;

}

.card a{
    text-decoration: none;
    color: #91e4fb;
}

.card a:visited{
    color: #91e4fb;
}

.card img{
    width: 80%;
    border: 4px solid #fffffe;
    margin: 1em 1em;
}

.card #list{
    text-align: left;
    width: 145px;
    margin: 0 auto;
    font-size: 0.9em;
    color: #fffffe;
}

.card #quote{
    color: #ffd783;
    font-family: "Brush Script MT";
    margin: 10px 10px;
}