body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px
}

nav{
    background-color: hsl(348, 83%, 47%, 0.5);
    padding: 10px;
    text-align: left;
}

img{
    max-height: 300px;
    border: 5px hsl(348, 83%, 47%, 0.5);
}

a{
    color: black;
    text-decoration: none;
    padding: 10px;
}

footer{
    background-color: hsl(348, 83%, 47%, 0.5);
    padding: 20px;
    font-size: small;
}