body{
    text-align: center;
    background-color: lightgray;
    margin: 0px;
}

img {
    max-width: 500px;
    border: 4px solid steelblue;
}

nav{
    background-color: steelblue;
    padding: 10px;
}

a{
    color: white;
    text-decoration: none;
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: white;
    background-color: steelblue;
}

footer{
    background-color: steelblue;
    color: white;
    padding: 20px;
}